<div class="card card-custom">
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Address Information</h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">Change your Address Information</span>
    </div>
    <div class="card-toolbar">
      <button type="reset" class="btn btn-primary font-weight-bolder mr-2">Save Changes</button>
      <button type="reset" class="btn btn-light-primary font-weight-bolder">Cancel</button>
    </div>
  </div>
  <form class="form">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Address 1</label>
        <div class="col-lg-9 col-xl-6">
          <input type="text" class="form-control form-control-lg form-control-solid mb-2" value="" placeholder="" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Address 2</label>
        <div class="col-lg-9 col-xl-6">
          <input type="text" class="form-control form-control-lg form-control-solid" value="" placeholder="" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">City</label>
        <div class="col-lg-9 col-xl-6">
          <input type="text" class="form-control form-control-lg form-control-solid" value="" placeholder="" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">State</label>
        <div class="col-lg-9 col-xl-6">
          <select class="form-control form-control-lg form-control-solid custom-select" id="">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Zip</label>
        <div class="col-lg-9 col-xl-6">
          <input type="text" class="form-control form-control-lg form-control-solid" value="" placeholder="" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Country</label>
        <div class="col-lg-9 col-xl-6">
          <input type="text" class="form-control form-control-lg form-control-solid" value="" placeholder="" />
        </div>
      </div>
    </div>
  </form>
</div>