<div class="card card-custom">
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
    </div>
    <div class="card-toolbar">
      <button type="reset" class="btn btn-primary font-weight-bolder mr-2">Save Changes</button>
      <button type="reset" class="btn btn-light-primary font-weight-bolder">Cancel</button>
    </div>
  </div>
  <form class="form">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Password</label>
        <div class="col-lg-9 col-xl-6">
          <input type="password" class="form-control form-control-lg form-control-solid mb-2" value="" />
          <a href="<%= new_password_path(User) %>" class="text-sm font-weight-bold">Forgot password ?</a>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Confirmation Password</label>
        <div class="col-lg-9 col-xl-6">
          <input type="password" class="form-control form-control-lg form-control-solid" value=""/>
        </div>
      </div>
    </div>
  </form>
</div>