<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="container">
    <div class="d-flex flex-row">
      <%= render 'devise/registrations/sidebar' %>
      <div class="flex-row-fluid ml-lg-8">
        <%= render "devise/registrations/#{params[:tab] || 'account' }" %>
      </div>
    </div>
  </div>
</div>