<div class="pb-5" data-wizard-type="step-content" data-uppy="payment_request[project_documents][]">
  <h4 class="mb-5 font-weight-bold text-dark">Upload Project Document</h4>
  <span class="mb-5 form-text text-muted">Please provide a copy of your invoice to the buyer, influencer platform screen shots or other supporting evidence of your contract.</span>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="uppy" id="kt_uppy_3">
				<div class="uppy-drag"></div>
				<div class="uppy-informer"></div>
				<div class="uppy-progress"></div>
				<div class="uppy-thumbnails"></div>
			</div>
    </div>
  </div>
</div>