span.select2-selection.select2-selection--single { 
  border: none !important;
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  height: 44.5px;
}

#kt_content {
  .checkbox-inline {
    margin-top: 10px;
  }
}

.users {
  .table {
    td.datatable-cell, th.datatable-cell {
      span {
        width: 130px !important;
      }

      &:first-child span {
        min-width: 230px !important;
      }
    }
  }

  .btn-sm {
    width: 30px;
    height: 30px;

    .fa {
      font-size: 1rem;
    }
  }
}