<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
  	<%= toastr_flash %>
    <%= yield %>
  </body>
</html>

